body {
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans Light', 'Arial Narrow', Arial, sans-serif;
}

.initial-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* use with margins */
    align-items: center;
    text-align: center;
    min-height: 100vh; /* prevents news grid from going off page and covering */
    border: dotted silver 2px;
    @media screen and (min-width:1000px) {
        background-color: chocolate;
        align-items: flex-start;    
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; /* not doing anything */
    margin-top: 8rem; /* with jc: space-between */
    padding: 2rem;
        p {
            line-height: 2rem;
        }
    border: dotted red 2px;
    @media screen and (min-width: 600px) {
            background-color: grey;
            flex-wrap: nowrap;
            margin-top: 0;
            padding: 0;
    }
}

.logo {
    width: 300px;
    border: dotted pink 2px;
    margin-bottom: 1rem;
    @media screen and (min-width: 600px) {
    }
}

.smaller-header {
    margin-top: 0;
    img {
        max-height: 100px;
        max-width: 100px;
    }
}

.search-form {
    width: 300px;
    border: dotted rosybrown 2px;
    // margin-bottom: 1rem;
}

.news-grid {
    border: dotted yellow 2px;
    width: 100%;
    margin: 0 auto;
    p {
        color: white;
        font-weight: 500px;
    }
    .ajax-loader {
        height: 10rem;
        width: 10rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.top-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-box {
    border: 1px solid #fff;
    display: flex;
    // justify-content: center; 
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    // width: 100vw;
    height: 420px;
    flex: 1 0 100%;
    @media screen and (min-width: 600px) {
        flex: 1 0 30%;
    }
    @media screen and (min-width: 1000px) {
        flex: 1 0 20%;
    }
}

.caption-box {
    background: rgba(0, 0, 0, .50);
    text-align: left;
    border: silver dotted 2px;
        p {
            line-height: 1.5rem;
            padding: 0.5rem;
        }
}

footer {
    width: 100%;
    border: dotted green 3px;
    width: 300px;
    margin-bottom: 3rem; /* with jc: space-between */
}

.copyright {
    border: dotted turquoise 3px;
}

.search-form,
.copyright {
    color: white;
}