body {
    background-color: black;
    height: 100vh;
    font-family: 'Open Sans Light', 'Arial Narrow', Arial, sans-serif;
}

.initial-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    // border: dotted silver 3px;
    @media screen and (min-width:1000px) {
        background-color: chocolate;
        align-items: flex-start;    
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
        p {
            line-height: 2rem;
        }
    border: dotted red 3px;
    @media screen and (min-width: 600px) {
            background-color: grey;
            flex-wrap: nowrap;
    }
}

.logo {
    width: 300px;
    border: dotted pink 3px;
    margin-bottom: 1rem;
}
    
.search-form {
    width: 300px;
    border: dotted rosybrown 3px;
    // margin-bottom: 1rem;
}

.news-grid {
    border: dotted yellow 3px;
    width: 100%;
    margin: 0 auto;
    p {
        color: blue;
        font-weight: 500px;
    }
    .ajax-loader {
        height: 10rem;
        width: 10rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.top-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-box {
    border: 1px solid #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-size: cover;
    // background-position: center;
    // width: 100vw;
    height: 50vw;
    flex: 1 0 100%;
    @media screen and (min-width: 600px) {
        flex: 1 0 33.333%;
    }
    @media screen and (min-width: 1000px) {
        flex: 1 0 20%;
    }
}

.caption-box {
    background: rgba(0, 0, 0, .50);
    text-align: center;
    align-items: center;
    justify-content: center;
    // position: absolute;
    bottom: 0;
}

footer {
    width: 100%;
    border: dotted green 3px;
    width: 300px;
}

.copyright {
    border: dotted turquoise 3px;
}

.search-form,
.copyright {
    color: white;
}