.logo {
    width: 300px;
    margin-bottom: 1rem;
    @include tablet {
        margin-bottom: 0;
    }
}

.search-form {
    width: 300px;
}

select,
select .dropdown, {
    text-transform: capitalize;
}

.news-grid {
    width: 100%;
    margin: 0 auto;
    p {
        color: white;
        font-weight: 500;
    }
    .ajax-loader {
        height: 8rem;
        width: 8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.top-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-box {
    display: flex;
    position: relative;
        a {
            text-decoration: none;
        }
        .inner-story-box {
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        height: 420px;
    }
    flex: 1 0 100%;
    @include tablet {
        flex: 1 0 30%;
    }
    @include desktop {
        flex: 1 0 24%;
    }
}

.caption-box {
    background: rgba(0, 0, 0, .50);
    text-align: left;
        p {
            line-height: 1.5rem;
            padding: 0.5rem;
        }
}